{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>{% block title %}{% endblock %}</title>
  <style>
   
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        {% if user.is_authenticated  %}
          <li>Olá, {{user.username }}</li>
          <li><a href="{% url 'cars_list' %}">Carros</a></li>
          <li><a href="{% url 'new_car' %}">Cadastrar Carro</a></li>
          <li><a href="{% url 'logout' %}">Logout</a></li>
        {% endif %}
        {% if not user.is_authenticated %}
        <li><a href="{% url 'register' %}">Cadastre-se</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        

      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>&copy; 2023 Francisco Junior</p>
  </footer>
</body>
</html>
